<app-navbar></app-navbar>

<main>
  <div class="container">
    <div class="header">
      <img src="assets/Logomark.svg" alt="" />
      <h1>Create a new account</h1>
      <p class="text">Please enter your details.</p>
    </div>
    <form action="">
      <div class="field">
        <label for="">Name</label>
        <input
          name="name"
          [(ngModel)]="name"
          placeholder="Enter your name"
          type="text"
        />
      </div>
      <div class="field">
        <label for="">Password</label>
        <input
          name="password"
          [(ngModel)]="password"
          placeholder="••••••••"
          type="password"
        />
      </div>
      <button (click)="signUp()">Sign up</button>
    </form>
  </div>
</main>

<app-footer></app-footer>
