/* You can add global styles to this file, and also import other style files */

:root {
  --primary-color: #667085;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
}

.text {
  color: var(--primary-color);
}

button,
input[type="text"] {
  all: unset;
}
